Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL:

SQL databases are primarily called RDBMS or Relational Databases

SQL databases are table based databases

SQL databases have a predefined schema

SQL databases are vertically scalable

SQL databases are not best suited for hierarchical data storage.

Examples	Oracle, Postgres, and MS-SQL.


NOSQL:

NoSQL databases are primarily called as Non-relational or distributed database

NoSQL databases can be document based, key-value pairs, graph databases

NoSQL databases use dynamic schema for unstructured data.

NoSQL databases are horizontally scalable

More suitable for the hierarchical data store as it supports key-value pair method.

Examples	MongoDB, Redis, Neo4j, Cassandra, Hbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects.

It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

CREATE:

This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

DROP :

DROP is used to delete a whole database or just a table.The DROP statement destroys the objects like an existing database, table, index, or view.
A DROP statement in SQL removes a component from a relational database management system (RDBMS).


DROP TABLE:

The DROP TABLE command deletes a table in the database.

The following SQL deletes the table "Pw":

DROP TABLE Pw;

ALTER: 

This is used to alter the structure of the database.

ALTER TABLE is used to add, delete/drop or modify columns in the existing table. It is also used to add and drop various constraints on the existing table.

The example to ADD a New Column to an existing table −
ALTER TABLE CUSTOMERS ADD SEX char(1);

The example to DROP sex column from the existing table -
ALTER TABLE CUSTOMERS DROP SEX;

TRUNCATE :

The SQL TRUNCATE TABLE command is used to delete complete data from an existing table.

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

EX:

TRUNCATE TABLE Categories;

To truncate Student_details table from student_data database:

TRUNCATE TABLE Student_details;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML(Data Manipulation Language):

The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database.

INSERT : 
    
It is used to insert data into a table

EX: (Inserting  values) :

INSERT INTO Student VALUES (‘5′,’HARSH’,’WEST BENGAL’,’XXXXXXXXXX’,’19’);

UPDATE: 

It is used to update existing data within a table.

Ex Update the column NAME and set the value to ‘SUDH’ in all the rows where Age is 20.
UPDATE Student SET NAME = 'SUDH' WHERE Age = 20;

DELETE :

It is used to delete records from a database table.

EX: Delete the rows where NAME = ‘Sudh’. 

DELETE FROM Student WHERE NAME = 'Sudh';

EX : Delete rows where Age =20

DELETE FROM Student WHERE Age = 20;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.

SELECT: 

It is used to retrieve data from the database.


EX: Query to fetch the fields ROLL_NO, NAME, AGE from the table Student:


SELECT ROLL_NO, NAME, AGE FROM Student;


Ex: To fetch all the fields from the table Student:

 SELECT * FROM Student;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

There is only one primary key chosen out of all unique keys.

Ex:
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).

Foreign Key: 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

In the relational databases, a foreign key is a field or a column that is used to establish a link between two tables.

In simple words you can say that, a foreign key in one table used to point primary key in another table.

Ex: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO(Primary key) in STUDENT relation. 
      
      It is helping in establishing relation between two tables by making connection with primary key by matching entry

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Python code to connect MYSQL to python:


import mysql.connector


mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password"
)

mycursor = mydb.cursor()


mycursor.execute("CREATE DATABASE if not exists test2")


mydb.close()

cursor():

A cursor is an object which helps to execute the query and fetch the records from the database.

It is an object that is used to make the connection for executing SQL queries.

It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database.

The cursor plays a very important role in executing the query.

execute():
    
The execute () method helps us to execute the query and return records according to the query.

Here excute refers similar to excuting the sql code in mysql database.

It helps in excuting the query and returning the fetched record in execution of code.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:


1. FROM/JOIN: 

    The FROM and/or JOIN clauses are executed first to determine the data of interest.


2. WHERE: 

    The WHERE clause is executed to filter out records that do not meet the constraints.


3. GROUP BY:

    The GROUP BY clause is executed to group the data based on the values in one or more columns.


4. HAVING: 

    The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.


5. SELECT: 

    The SELECT clause is executed to derive all desired columns and expressions.


6. ORDER BY:

    The ORDER BY clause is executed to sort the derived values in ascending or descending order.


7. LIMIT/OFFSET: 

    Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.